body {
    background-color: #64FFDA ;
    color: #212121;
    text-align: center;
    margin: 70px;
    font-family:cursive;
}

a {
    color: #212121;
}
h1 {
    font-size: 70px;
}

a:hover {
    color: #fff;
    background-color: #004D40;
}
img {
    width: 400px;
}