body {
    background-color: #8155BA ;
    color: #fff ;
    text-align: center;
    margin: 70px;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
}
h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}
a:hover {
    color: #fff;
    background-color: #695E93 ;
}
img {
    width: 400px;
}